
@font-face {
  font-family: 'H-H-Samuel';
  src: url('H-H-Samuel.eot?#iefix') format('embedded-opentype'),  url('H-H-Samuel.woff') format('woff'), url('H-H-Samuel.ttf')  format('truetype'), url('H-H-Samuel.svg#H.H.Samuel') format('svg');
  font-weight: normal;
  font-style: normal;
}
